@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

header {
    background: #ffffff;
    height: 91px;
    /* display: flex; */
    /* flex-direction: row; */
}

header nav {
    display: flex;
}

header nav .product-series {
    padding-top: 16px;
}

header nav .product-series .product {
    position: relative;
    display: inline-block;
}

header nav .logo img {
    width: 190px;
    margin-left: 70px;
    margin-top: 12px;
}

header nav .product-series .product .product-btn {
    background-color: rgb(254, 252, 252);
    color: black;
    padding: 16px;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    border: none;
}

header nav .product-series .product .product-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header nav .product-series .product .product-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header nav .product-series .product .product-btn:hover {
    background-color: #e7eaee;
    border-radius: 10px;
}

/* Change color of dropdown links on hover */
header nav .product-series .product .product-content a:hover {
    background-color: rgb(183, 182, 182);
}

/* Show the dropdown menu on hover */
header nav .product-series .product:hover .product-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
header nav .product-series .product:hover .productbtn {
    background-color: #edeff1
}
header nav .signIn button {
    background: none;
    border: none;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
    /* align-items: center; */
    /* text-align: center; */
    margin-left: 15px;
    /* margin-top: 5px; */
    color: #f1f1f1;
}

header nav .signIn {
    border-radius: 30px;
    width: 130px;
    height: 40px;
    /* text-align: center; */
    /* align-items: center; */
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    background-color: #00baf2;
   
}
/* header nav .signIn .signInbox{
    margin: 5px;
    padding: 10px;
} */
header nav .signIn img {
    /* margin-top: 5px; */
    margin-left: 10px;
    width: 34px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #002970;
}

.article {
    /* background: whitesmoke; */
    background: linear-gradient(to top, #e7eaee, #f5f5f5, #e7eaee);
    height: 50px;
}

.article p {
    text-align: center;
    align-items: center;
    padding: 15px;
}

.article p a {
    text-decoration: none;
}
.sectionOne{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 10px;
}
.sectionOne .sectionleft{
    /* background-color: #00baf2; */
    /* width: 50%; */
}
.sectionOne .sectionleft .sectionleftimg img{
    width: 85px;
}
.sectionOne .sectionleft h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    width: 500px;
    padding: 30px 0px;
}
.sectionOne .sectionleft p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 500px;
}
.sectionOne .sectionleft .sectionleftbtn .leftbtn{
    text-align: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    width: 260px;
    height: 50px;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    border-radius: 40px;
    margin-top: 40px;
    
}
.sectionOne .sectionleft .sectionleftbtn .leftbtn img{
    /* padding: 5px; */
}
.sectionOne .sectionright img{
    width: 42vw;
    height: 90%;
}
.sectiontwo{
    background-color: #00baf2;
    width: 100%;
    height: 69vh;
}
.sectiontwo h2{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 700;
    line-height: normal;

}
.sectiontwo .box{
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 10px 10px;
    margin: 10px;
    width: 1000px;
}
.sectiontwo .box .sectiontwobox{
    background-color: #e7eaee;
    padding: 20px;
    margin: 10px;
    width: 150px;
    outline: none;

}